<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de loguin</title>
</head>
<body>
    {% if form.errors%}
        <p>Seu user e senha não combinam. Tenta de novo!</p>
    {% endif %}

    {% if next%}
        {% if user.is_authenticated %}
            <p>Sua conta não tem acesso a essa página.</p>
        {% else %}
            <p>Faça loguin o carario</p>
        {% endif %}
    {% endif %}
    
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
        </form>        
</body>
</html>